* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

.app-root {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fafafa;
	padding: 32px;
}

.card {
	width: 100%;
	max-width: 1000px;
	height: 420px;
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.card-left {
	flex: 1.05;
	padding: 56px 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg,rgba(255, 216, 197, 1) 0%, rgba(197, 130, 98, 1) 100%);
	color: black;
	text-align: center;

	& h1 {
		font-size: 30px;
		margin-bottom: 8px;
		font-weight: 700;
	}

	& p {
		font-size: 14px;
		opacity: 0.9;
	}
}

.card-right {
	flex: 0.95;
	background: #d9d9d9;
	padding: 48px 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #111;

	& h2 {
		font-size: 26px;
		margin-bottom: 22px;
		text-align: left;
		font-weight: 700;
	}
}

.login-form {
	display: flex;
	flex-direction: column;
	gap: 14px;
	width: 100%;
	max-width: 360px;
}

.input-label {
	display: flex;
	align-items: center;
	gap: 12px;
	background: #fff;
	border-radius: 10px;
	padding: 12px 14px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.03);

	& input {
		border: none;
		outline: none;
		width: 100%;
		font-size: 14px;
		background: transparent;
	}
}

.btn-submit {
	margin-top: 6px;
	height: 50px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	background: #C58262;
	color: white;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
}

.signup {
	margin-top: 18px;
	font-size: 13px;
	color: #222;

	& a {
		text-decoration: underline;
		color: #111;
		font-weight: 600;
	}
}

.error {
  color: #b30000;
  font-size: 13px;
  margin-top: 6px;
}
